.weather-section{
  /* background: rgba($color: $primary-color, $alpha: .9); */
  background: linear-gradient(-45deg, #24ff72, $primary-color);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 5px #fff;
  color: #fff;
}